<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="SQLConnectOn" value="PpUVRHa0yMHWSeQg/2yzN/Rb8J965YhSSiYkPYyFJvDOOHlf5H3WCFwcc7AJSSldYtTvgjhEhErJ6nmxshq7ma0JtnAcAiPkjhhTR/0uHcr4I0nNKPdsRv9d7SkTsSHE"/>
    <add key="DefaultMailHost" value="smtp.quest360.com.br"/>
    <add key="DefaultMailPort" value="587"/>
    <add key="DefaultMailAddressRemetente" value="noreply@quest360.com.br"/>
    <add key="DefaultMailDisplayName" value="QUEST360 - Contato pelo Site"/>
    <add key="DefaultMailEnableSSL" value="N"/>  
    
  </appSettings>

  <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <globalization culture="pt-BR" uiCulture="pt-BR" />

      <customErrors mode="Off"/>
    
      <authentication mode="Forms">
        <forms name="AppRestrito" loginUrl="Index.aspx" timeout="60" path="/Aplicacao" />
      </authentication>
      
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  
  

  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Acesso.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="library">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
